<header class="header" role="banner">
    <div id="wrapper">
        <div class="logo">
            <img src="/resources/images/favicon512.png"/>
        </div>
        <div class="logotext">
            Generated Tech Project: <span style="display: inline-flex"><small>testing becomes easier...</small></span>
        </div>
        <div class="alert">
            <h1>Important!</h1>
            <p>This project and user guide are under developing. Current version of project documentation can be found
                <a href="/docs/index.html">here</a>. <a href="/docs/roadmap.html">Roadmap</a> of the project can be found <a
                        href="/docs/roadmap.html">here</a>.</p>
        </div>
    </div>
    <div class="menu">
        {% assign pages = site.pages | sort: "title" %}
        {% for page in pages %}
        {% if page.menu_type == "main" %}
        <div>
            <a href="{{ page.url }}">{{ page.title }}</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</header>
