<header class="headercontainer" role="banner">
    <div class="topbanner">
        Generated Tech Project: <span style="display: inline-flex"><small>testing becomes easier...</small></span>
    </div>
    <div class="alert">
        <h1>Important!</h1>
        <p>This project and user guide is under develoing. Current version of project documentation you can be found
            <a
                    href="docs/">here</a>. <a href="docs/roadmap.html">Roadmap</a> of the prohect can be found <a
                    href="docs/roadmap.html">here</a>.</p>
    </div>
</header>
<div class="menu">
    <ul>
        {% assign pages = site.pages | sort: "title" %}
        {% for page in pages %}
        {% if page.menu_type == "main" %}
        <li>
            <a href="{{ page.url }}">{{ page.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
